@font-face {
  font-family: Nunito;
  src: url("../font/Nunito-Black.ttf");
  src: url("../font/Nunito-BlackItalic.ttf");
  src: url("../font/Nunito-Bold.ttf");
  src: url("../font/Nunito-BoldItalic.ttf");
  src: url("../font/Nunito-ExtraBold.ttf");
  src: url("../font/Nunito-ExtraBoldItalic.ttf");
  src: url("../font/Nunito-ExtraLight.ttf.ttf");
  src: url("../font/Nunito-ExtraLightItalic.ttf");
  src: url("../font/Nunito-Italic.ttf");
  src: url("../font/Nunito-Light.ttf");
  src: url("../font/Nunito-LightItalic.ttf");
  src: url("../font/Nunito-Regular.ttf");
  src: url("../font/Nunito-SemiBold.ttf");
  src: url("../font/Nunito-SemiBoldItalic.ttf");
}
